%ul.footer_blocks
  %li
    %ul
      %li
        =link_to('A Link', root_url)
      %li
        =link_to('Some Link', root_url)


  %li
    %ul
      %li
        =link_to('A Link', root_url)
      %li
        =link_to('Another Link', root_url)


  %li.last
    %ul
      %li
        =link_to('Contact', root_url)
      %li
        =link_to('Woot', root_url)
                                  